# Mini Project 3: COVID-19 Data Analysis and Machine Learning

#### Created by Group 7 - Kamilla, Jeanette, Juvena

## Objective

This assignment aims to develop practical skills in data analysis, visualization, and machine learning using real-world COVID-19 data. The project focuses on exploring global pandemic-related indicators to uncover trends, build predictive models, and apply both supervised and unsupervised learning techniques using Python.

Before we begin analyzing the COVID-19 dataset, we need to import a few essential Python libraries that will help us manipulate the data, build models, and visualize our findings:

- **Pandas**: This is a powerful library used to handle and manipulate data in tables (called DataFrames).
- **NumPy**: It helps with numerical operations, especially when we work with arrays or need to do math.
- **Matplotlib** and **Seaborn**: These are popular libraries for creating visual charts and graphs. We'll use them to help us understand the data better by seeing it.
- **SciPy (stats module)**: This gives us access to statistical tools like checking if data is normally distributed.

We'll also configure default styles for our plots to ensure they're clean, visually appealing, and easy to interpret.

In [270]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn import metrics
from scipy.spatial.distance import cdist
from sklearn import preprocessing as prep
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Set plot styles for better visualization
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("Set2")

--------

# 1. Data wrangling and exploration

### Load the Data

Now that we have our tools ready, the next step is to load the COVID-19 dataset into Python so we can start analyzing it.

In this case, weâ€™re working with a single dataset:

- **OWID COVID-19 Latest Data**: a CSV file that contains country-level information on cases, deaths, vaccinations, testing, and various socioeconomic indicators.

We'll use Pandas to read the CSV file and store it as a DataFrame. To make our code cleaner and reusable, we'll define a simple function that loads the data and performs some initial checks. This way, we can easily reload or replace the dataset if needed in future steps.

In [275]:
# File paths for the covid datasets. (dataset: last updated 2024-08-04)
dataset_covid = 'Dataset/owid-covid-latest.csv'

# Function to load the Excel files
def load_csv_to_dataframe(file_path):
    # Reads the Excel file and skips the first row if it contains a description or title
    df = pd.read_csv(file_path)
    return df

# Load datasets
print("..Loading COVID-19 dataset")
df_covid = load_csv_to_dataframe(dataset_covid)

..Loading COVID-19 dataset

### Explore the Data

After loading the dataset, we want to explore it to understand what kind of information it contains and how it's structured.

To do this, we can use several helpful Pandas functions such as `shape`, `types`, `info()`, `head()`, `tail()`, `sample()`, `describe()` and `isnull().sum()`. These functions will give us insights into the number of rows and columns, the data types of each column, a summary of the data, and any missing values. 

This exploration is crucial as it helps us identify potential issues or areas that need further cleaning or transformation before we proceed with our analysis.

In [278]:
# Check the shape of the DataFrame (rows, columns)
df_covid.shape

(247, 67)

In [279]:
# Display the types of attributes (colum names) in the DataFrame
df_covid.dtypes

iso_code                                    object
continent                                   object
location                                    object
last_updated_date                           object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [280]:
# Gives an overview of the DataFrame
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    247 non-null    object
 1   continent                                   235 non-null    object
 2   location                                    247 non-null    object
 3   last_updated_date                           247 non-null    object
 4   total_cases                                 246 non-null    float64
 5   new_cases                                   242 non-null    float64
 6   new_cases_smoothed                          242 non-null    float64
 7   total_deaths                                246 non-null    float64
 8   new_deaths                                  243 non-null    float64
 9   new_deaths_smoothed                         243 non-null    float64
 10  total_cases_per_million                     246 non-null    float64
 11  new_cases_per_million                       242 non-null    float64
 12  new_cases_smoothed_per_million              242 non-null    float64
 13  total_deaths_per_million                    246 non-null    float64
 14  new_deaths_per_million                      243 non-null    float64
 15  new_deaths_smoothed_per_million             243 non-null    float64
 16  reproduction_rate                           0 non-null      float64
 17  icu_patients                                3 non-null      float64
 18  icu_patients_per_million                    3 non-null      float64
 19  hosp_patients                               3 non-null      float64
 20  hosp_patients_per_million                   3 non-null      float64
 21  weekly_icu_admissions                       2 non-null      float64
 22  weekly_icu_admissions_per_million           2 non-null      float64
 23  weekly_hosp_admissions                      2 non-null      float64
 24  weekly_hosp_admissions_per_million          2 non-null      float64
 25  total_tests                                 0 non-null      float64
 26  new_tests                                   0 non-null      float64
 27  total_tests_per_thousand                    0 non-null      float64
 28  new_tests_per_thousand                      0 non-null      float64
 29  new_tests_smoothed                          0 non-null      float64
 30  new_tests_smoothed_per_thousand             0 non-null      float64
 31  positive_rate                               0 non-null      float64
 32  tests_per_case                              0 non-null      float64
 33  tests_units                                 0 non-null      float64
 34  total_vaccinations                          17 non-null     float64
 35  people_vaccinated                           15 non-null     float64
 36  people_fully_vaccinated                     15 non-null     float64
 37  total_boosters                              17 non-null     float64
 38  new_vaccinations                            14 non-null     float64
 39  new_vaccinations_smoothed                   17 non-null     float64
 40  total_vaccinations_per_hundred              17 non-null     float64
 41  people_vaccinated_per_hundred               15 non-null     float64
 42  people_fully_vaccinated_per_hundred         15 non-null     float64
 43  total_boosters_per_hundred                  17 non-null     float64
 44  new_vaccinations_smoothed_per_million       17 non-null     float64
 45  new_people_vaccinated_smoothed              15 non-null     float64
 46  new_people_vaccinated_smoothed_per_hundred  15 non-null     float64
 47  stringency_index                            0 non-null      float64
 48  population_density                          214 non-null    float64
 49  median_age                                  198 non-null    float64
 50  aged_65_older                               192 non-null    float64
 51  aged_70_older                               196 non-null    float64
 52  gdp_per_capita                              195 non-null    float64
 53  extreme_poverty                             126 non-null    float64
 54  cardiovasc_death_rate                       195 non-null    float64
 55  diabetes_prevalence                         206 non-null    float64
 56  female_smokers                              147 non-null    float64
 57  male_smokers                                145 non-null    float64
 58  handwashing_facilities                      96 non-null     float64
 59  hospital_beds_per_thousand                  173 non-null    float64
 60  life_expectancy                             231 non-null    float64
 61  human_development_index                     190 non-null    float64
 62  population                                  247 non-null    float64
 63  excess_mortality_cumulative_absolute        0 non-null      float64
 64  excess_mortality_cumulative                 0 non-null      float64
 65  excess_mortality                            0 non-null      float64
 66  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 129.4+ KB

In [281]:
# Display the first 5 rows of the DataFrame
df_covid.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2024-08-04,235214.0000,0.0000,0.0000,7998.0000,0.0000,0.0000,...,NaN,37.7460,0.5000,64.8300,0.5110,41128772.0000,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2024-08-04,13145380.0000,36.0000,5.1430,259117.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,1426736614.0000,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2024-08-04,335047.0000,0.0000,0.0000,3605.0000,0.0000,0.0000,...,51.2000,NaN,2.8900,78.5700,0.7950,2842318.0000,NaN,NaN,NaN,NaN
3,DZA,Africa,Algeria,2024-08-04,272139.0000,18.0000,2.5710,6881.0000,0.0000,0.0000,...,30.4000,83.7410,1.9000,76.8800,0.7480,44903228.0000,NaN,NaN,NaN,NaN
4,ASM,Oceania,American Samoa,2024-08-04,8359.0000,0.0000,0.0000,34.0000,0.0000,0.0000,...,NaN,NaN,NaN,73.7400,NaN,44295.0000,NaN,NaN,NaN,NaN

In [282]:
# Display the last 5 rows of the DataFrame
df_covid.tail()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
242,WLF,Oceania,Wallis and Futuna,2024-08-04,3760.0000,0.0000,0.0000,9.0000,0.0000,0.0000,...,NaN,NaN,NaN,79.9400,NaN,11596.0000,NaN,NaN,NaN,NaN
243,OWID_WRL,NaN,World,2024-08-14,775866783.0000,47169.0000,6738.4290,7057132.0000,815.0000,116.4290,...,34.6350,60.1300,2.7050,72.5800,0.7370,7975105024.0000,NaN,NaN,NaN,NaN
244,YEM,Asia,Yemen,2024-08-04,11945.0000,0.0000,0.0000,2159.0000,0.0000,0.0000,...,29.2000,49.5420,0.7000,66.1200,0.4700,33696612.0000,NaN,NaN,NaN,NaN
245,ZMB,Africa,Zambia,2024-08-04,349842.0000,18.0000,2.5710,4077.0000,0.0000,0.0000,...,24.7000,13.9380,2.0000,63.8900,0.5840,20017670.0000,NaN,NaN,NaN,NaN
246,ZWE,Africa,Zimbabwe,2024-08-04,266386.0000,0.0000,0.0000,5740.0000,0.0000,0.0000,...,30.7000,36.7910,1.7000,61.4900,0.5710,16320539.0000,NaN,NaN,NaN,NaN

In [283]:
# Display a random sample of 5 rows from the DataFrame
df_covid.sample(5)

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
117,KWT,Asia,Kuwait,2024-08-04,667290.0000,0.0000,0.0000,2570.0000,0.0000,0.0000,...,37.0000,NaN,2.0000,75.4900,0.8060,4268886.0000,NaN,NaN,NaN,NaN
169,PLW,Oceania,Palau,2024-08-04,6372.0000,0.0000,0.0000,10.0000,0.0000,0.0000,...,22.7000,NaN,4.8000,73.7000,0.8260,18084.0000,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2024-08-04,13145380.0000,36.0000,5.1430,259117.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,1426736614.0000,NaN,NaN,NaN,NaN
10,ARM,Asia,Armenia,2024-08-04,452273.0000,0.0000,0.0000,8777.0000,0.0000,0.0000,...,52.1000,94.0430,4.2000,75.0900,0.7760,2780472.0000,NaN,NaN,NaN,NaN
11,ABW,North America,Aruba,2024-08-04,44224.0000,0.0000,0.0000,292.0000,0.0000,0.0000,...,NaN,NaN,NaN,76.2900,NaN,106459.0000,NaN,NaN,NaN,NaN

In [284]:
# Gives summary statistics for all numerical columns in the dataset
df_covid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,246.0000,242.0000,242.0000,246.0000,243.0000,243.0000,246.0000,242.0000,242.0000,246.0000,...,145.0000,96.0000,173.0000,231.0000,190.0000,247.0000,0.0000,0.0000,0.0000,0.0000
mean,13366338.3618,885.6074,126.5154,119868.9024,14.0329,2.0047,203988.2558,22.2049,3.1721,1271.4277,...,32.9099,50.7888,3.0970,73.6609,0.7225,130765647.1093,NaN,NaN,NaN,NaN
std,65681300.6852,4854.7862,693.5409,574723.9549,92.1793,13.1685,200456.9021,82.9626,11.8518,1322.6975,...,13.6218,32.1248,2.5558,7.4057,0.1494,668433300.4550,NaN,NaN,NaN,NaN
min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,7.7000,1.1880,0.1000,53.2800,0.3940,47.0000,NaN,NaN,NaN,NaN
25%,27509.5000,0.0000,0.0000,183.7500,0.0000,0.0000,21257.7665,0.0000,0.0000,144.8082,...,22.6000,20.4820,1.3000,69.5450,0.6030,429495.5000,NaN,NaN,NaN,NaN
50%,232098.5000,0.0000,0.0000,2205.5000,0.0000,0.0000,135384.8950,0.0000,0.0000,877.6890,...,33.1000,49.6905,2.5000,75.0500,0.7400,5970430.0000,NaN,NaN,NaN,NaN
75%,1703973.7500,5.5000,0.7855,19388.5000,0.0000,0.0000,340625.3000,0.2320,0.0333,2032.2220,...,41.3000,82.6867,4.2000,79.2850,0.8287,28956709.0000,NaN,NaN,NaN,NaN
max,775866783.0000,47169.0000,6738.4290,7057132.0000,815.0000,116.4290,763598.6000,672.4370,96.0620,6601.1100,...,78.1000,100.0000,13.8000,86.7500,0.9570,7975105024.0000,NaN,NaN,NaN,NaN

##### Summary of exploring the data

After exploring the dataframe, we found that it contains a large number of columns, many of which are not useful for our analysis or modeling goals. While some columns provide valuable information (like total cases, deaths, and vaccination rates), others are either redundant, mostly empty, or irrelevant.

This highlights the need for a thorough data cleaning step to remove unnecessary columns, handle missing values, and focus only on the most relevant features for our machine learning tasks.

### Clean the Data

After loading and exploring the data, we need to clean it to ensure that our analysis is accurate and meaningful. Data cleaning involves several steps, including: checking for missing values, removing duplicates, and converting data types.

In [289]:
# Check for missing values in the DataFrame
df_covid.isnull().sum()

iso_code                                     0
continent                                   12
location                                     0
last_updated_date                            0
total_cases                                  1
                                          ...
population                                   0
excess_mortality_cumulative_absolute       247
excess_mortality_cumulative                247
excess_mortality                           247
excess_mortality_cumulative_per_million    247
Length: 67, dtype: int64

The output above shows that many columns contain no values at all, so we will remove them to clean up the dataset.

In [291]:
# Before cleaning the data, we want to remove irrelevant OWID aggregate rowsâ€”such as those representing high-income, low-income, and other income groupings.
rows_to_remove = ["OWID_UMC", "OWID_WRL", "OWID_LMC", "OWID_LIC", "OWID_HIC"]
df_removed_rows = df_covid[~df_covid["iso_code"].isin(rows_to_remove)]

We are removing the 'low-income countries', 'lower-middle-income countries', 'upper-middle-income countries', 'high-income countries' and 'world' categories because they are too broad and lack specific country-level detail, making it difficult to draw meaningful conclusions without relying on assumptions.

In [293]:
# Checking if the above rows were removed
print(f"{df_covid.shape}")
print(f"Removed the {df_covid.shape[0] - df_removed_rows.shape[0]} OWID rows from the dataframe.")

(247, 67)
Removed the 5 OWID rows from the dataframe.

In [294]:
# We will drop all columns with no values at all like; excess_mortality_cumulative_absolute, excess_mortality_cumulative etc.
df_covid_removed_columns = df_removed_rows.dropna(axis=1, how='all')

In [295]:
# Check whether the columns were removed
print(f"COVID dataframe shape after removing columns: {df_covid_removed_columns.shape}")
print(f"Removed {df_covid.shape[1] - df_covid_removed_columns.shape[1]} columns from the dataframe.")

COVID dataframe shape after removing columns: (242, 52)
Removed 15 columns from the dataframe.

We have selected a subset of columns that we consider relevant for our analysis. These columns include key features related to COVID-19 cases, deaths, vaccinations, demographics, and health indicators. By keeping only these columns, we focus on the most informative data for building meaningful models and drawing accurate insights, while reducing noise and unnecessary complexity in the dataset.

In [297]:
# We make a new dataframe with the columns we want to keep for future analysis.
columns_we_want_to_keep = [
    "iso_code", "continent", "location", "total_cases", "total_deaths",
    "total_cases_per_million", "total_deaths_per_million",
    "total_vaccinations", "people_vaccinated", "people_fully_vaccinated",
    "total_boosters", "new_vaccinations", "new_vaccinations_smoothed",
    "total_vaccinations_per_hundred", "people_vaccinated_per_hundred",
    "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred",
    "new_vaccinations_smoothed_per_million", "new_people_vaccinated_smoothed",
    "new_people_vaccinated_smoothed_per_hundred", "population_density",
    "median_age", "aged_65_older", "aged_70_older", "cardiovasc_death_rate",
    "diabetes_prevalence", "female_smokers", "male_smokers",
    "life_expectancy", "population"
]

# Removes all other columns
df_covid = df_covid_removed_columns[columns_we_want_to_keep]

In [298]:
# Check if the columns were removed
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, 0 to 246
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    242 non-null    object
 1   continent                                   235 non-null    object
 2   location                                    242 non-null    object
 3   total_cases                                 241 non-null    float64
 4   total_deaths                                241 non-null    float64
 5   total_cases_per_million                     241 non-null    float64
 6   total_deaths_per_million                    241 non-null    float64
 7   total_vaccinations                          13 non-null     float64
 8   people_vaccinated                           11 non-null     float64
 9   people_fully_vaccinated                     11 non-null     float64
 10  total_boosters                              13 non-null     float64
 11  new_vaccinations                            10 non-null     float64
 12  new_vaccinations_smoothed                   13 non-null     float64
 13  total_vaccinations_per_hundred              13 non-null     float64
 14  people_vaccinated_per_hundred               11 non-null     float64
 15  people_fully_vaccinated_per_hundred         11 non-null     float64
 16  total_boosters_per_hundred                  13 non-null     float64
 17  new_vaccinations_smoothed_per_million       13 non-null     float64
 18  new_people_vaccinated_smoothed              11 non-null     float64
 19  new_people_vaccinated_smoothed_per_hundred  11 non-null     float64
 20  population_density                          213 non-null    float64
 21  median_age                                  197 non-null    float64
 22  aged_65_older                               191 non-null    float64
 23  aged_70_older                               195 non-null    float64
 24  cardiovasc_death_rate                       194 non-null    float64
 25  diabetes_prevalence                         205 non-null    float64
 26  female_smokers                              146 non-null    float64
 27  male_smokers                                144 non-null    float64
 28  life_expectancy                             230 non-null    float64
 29  population                                  242 non-null    float64
dtypes: float64(27), object(3)
memory usage: 58.6+ KB

In [299]:
# Check how the dataset look and how we should proceed
df_covid

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,population_density,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
0,AFG,Asia,Afghanistan,235214.0000,7998.0000,5796.4680,197.0980,NaN,NaN,NaN,...,54.4220,18.6000,2.5810,1.3370,597.0290,9.5900,NaN,NaN,64.8300,41128772.0000
1,OWID_AFR,NaN,Africa,13145380.0000,259117.0000,9088.8770,179.1570,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1426736614.0000
2,ALB,Europe,Albania,335047.0000,3605.0000,118491.0200,1274.9260,NaN,NaN,NaN,...,104.8710,38.0000,13.1880,8.6430,304.1950,10.0800,7.1000,51.2000,78.5700,2842318.0000
3,DZA,Africa,Algeria,272139.0000,6881.0000,5984.0500,151.3060,NaN,NaN,NaN,...,17.3480,29.1000,6.2110,3.8570,278.3640,6.7300,0.7000,30.4000,76.8800,44903228.0000
4,ASM,Oceania,American Samoa,8359.0000,34.0000,172831.6000,702.9880,NaN,NaN,NaN,...,278.2050,NaN,NaN,NaN,283.7500,NaN,NaN,NaN,73.7400,44295.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,VNM,Asia,Vietnam,11624000.0000,43206.0000,116612.4000,433.4440,NaN,NaN,NaN,...,308.1270,32.6000,7.1500,4.7180,245.4650,6.0000,1.0000,45.9000,75.4000,98186856.0000
242,WLF,Oceania,Wallis and Futuna,3760.0000,9.0000,326928.1000,782.5410,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.9400,11596.0000
244,YEM,Asia,Yemen,11945.0000,2159.0000,312.5090,56.4840,NaN,NaN,NaN,...,53.5080,20.3000,2.9220,1.5830,495.0030,5.3500,7.6000,29.2000,66.1200,33696612.0000
245,ZMB,Africa,Zambia,349842.0000,4077.0000,17359.3570,202.3030,NaN,NaN,NaN,...,22.9950,17.7000,2.4800,1.5420,234.4990,3.9400,3.1000,24.7000,63.8900,20017670.0000
246,ZWE,Africa,Zimbabwe,266386.0000,5740.0000,16577.5700,357.2080,NaN,NaN,NaN,...,42.7290,19.6000,2.8220,1.8820,307.8460,1.8200,1.6000,30.7000,61.4900,16320539.0000

In [300]:
# Shape of the dataframe after some cleaning
print(f"COVID dataframe shape after removing both some columns and rows: {df_covid.shape}")

COVID dataframe shape after removing both some columns and rows: (242, 30)

#### Separating the continent-level data into its own DataFrame

We are separating the continent-level data into its own DataFrame so that we can clean and process it independently from the country-level data. This allows us to apply different cleaning steps based on the nature of the data, since continent aggregates may have different structures or missing values compared to individual countries.

In [303]:
# Before removing the iso_code column, we want to secure the OWID fields for the continents since it could be relevant data to analyze.
rows_to_secure = ["OWID_AFR", "OWID_ASI", "OWID_EUR", "OWID_EUN", "OWID_NAM", "OWID_OCE", "OWID_SAM"]
df_continents = df_covid[df_covid["iso_code"].isin(rows_to_secure)]

In [304]:
# Check if the rows were secured
df_continents

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,population_density,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
1,OWID_AFR,NaN,Africa,13145380.0000,259117.0000,9088.8770,179.1570,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1426736614.0000
12,OWID_ASI,NaN,Asia,301499099.0000,1637249.0000,63948.2000,347.2620,9104304615.0000,3689438947.0000,3462095463.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4721383370.0000
70,OWID_EUR,NaN,Europe,252916868.0000,2102483.0000,337990.3400,2809.6940,1399334208.0000,523814328.0000,493751304.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744807803.0000
71,OWID_EUN,NaN,European Union (27),185822587.0000,1262988.0000,413754.2200,2812.1800,951113290.0000,338119562.0000,327967426.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450146793.0000
161,OWID_NAM,NaN,North America,124492666.0000,1671178.0000,205992.1900,2765.2200,1158547416.0000,458563506.0000,394493922.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600323657.0000
166,OWID_OCE,NaN,Oceania,15003352.0000,32918.0000,333039.8000,730.7040,88358812.0000,28960501.0000,28072902.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45038860.0000
207,OWID_SAM,NaN,South America,68809418.0000,1354187.0000,159838.7200,3145.6670,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,436816679.0000

We now have a new seperate dataframe called `df_continent` that contains the continent-level data. This DataFrame will be used for further analysis and modeling, while the original `df_covid` DataFrame will focus on country-level data.

In [306]:
# Remove the columns that are irrelavnt since they containt no values at all like; population_density, median_age
df_continents_romved_columns = df_continents.dropna(axis=1, how='all')
df_continents_romved_columns

,iso_code,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,population
1,OWID_AFR,Africa,13145380.0000,259117.0000,9088.8770,179.1570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1426736614.0000
12,OWID_ASI,Asia,301499099.0000,1637249.0000,63948.2000,347.2620,9104304615.0000,3689438947.0000,3462095463.0000,1815176944.0000,258.0000,193.0000,192.8300,78.1400,73.3300,38.4500,0.0000,10.0000,0.0000,4721383370.0000
70,OWID_EUR,Europe,252916868.0000,2102483.0000,337990.3400,2809.6940,1399334208.0000,523814328.0000,493751304.0000,365099941.0000,64.0000,17.0000,187.8800,70.3300,66.2900,49.0200,0.0000,2.0000,0.0000,744807803.0000
71,OWID_EUN,European Union (27),185822587.0000,1262988.0000,413754.2200,2812.1800,951113290.0000,338119562.0000,327967426.0000,282438789.0000,64.0000,17.0000,211.2900,75.1100,72.8600,62.7400,0.0000,2.0000,0.0000,450146793.0000
161,OWID_NAM,North America,124492666.0000,1671178.0000,205992.1900,2765.2200,1158547416.0000,458563506.0000,394493922.0000,256264817.0000,442.0000,442.0000,192.9900,76.3900,65.7100,42.6900,1.0000,0.0000,0.0000,600323657.0000
166,OWID_OCE,Oceania,15003352.0000,32918.0000,333039.8000,730.7040,88358812.0000,28960501.0000,28072902.0000,25400951.0000,1130.0000,1130.0000,196.1800,64.3000,62.3300,56.4000,25.0000,0.0000,0.0000,45038860.0000
207,OWID_SAM,South America,68809418.0000,1354187.0000,159838.7200,3145.6670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,436816679.0000

In [307]:
# Check whether the columns were removed
print(f"df_continent shape after removing columns: {df_continents_romved_columns.shape}")
print(f"Removed {df_continents.shape[1] - df_continents_romved_columns.shape[1]} columns from the dataframe.")

df_continent shape after removing columns: (7, 20)
Removed 10 columns from the dataframe.

The columns `new_vaccinations_smoothed_per_million`, `new_people_vaccinated_smoothed` and `new_people_vaccinated_smoothed_per_hundred` contain a lot of missing values so they are not necessary for our analysis and we will drop them from the `df_continents_cleaned` DataFrame. By removing them, we can simplify the DataFrame and focus on the most relevant features for our analysis.

In [309]:
# Removing columns there are irrelevant 
df_continents_cleaned = df_continents_romved_columns.drop(['iso_code', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred'], axis=1)
df_continents_cleaned

,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population
1,Africa,13145380.0000,259117.0000,9088.8770,179.1570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1426736614.0000
12,Asia,301499099.0000,1637249.0000,63948.2000,347.2620,9104304615.0000,3689438947.0000,3462095463.0000,1815176944.0000,258.0000,193.0000,192.8300,78.1400,73.3300,38.4500,4721383370.0000
70,Europe,252916868.0000,2102483.0000,337990.3400,2809.6940,1399334208.0000,523814328.0000,493751304.0000,365099941.0000,64.0000,17.0000,187.8800,70.3300,66.2900,49.0200,744807803.0000
71,European Union (27),185822587.0000,1262988.0000,413754.2200,2812.1800,951113290.0000,338119562.0000,327967426.0000,282438789.0000,64.0000,17.0000,211.2900,75.1100,72.8600,62.7400,450146793.0000
161,North America,124492666.0000,1671178.0000,205992.1900,2765.2200,1158547416.0000,458563506.0000,394493922.0000,256264817.0000,442.0000,442.0000,192.9900,76.3900,65.7100,42.6900,600323657.0000
166,Oceania,15003352.0000,32918.0000,333039.8000,730.7040,88358812.0000,28960501.0000,28072902.0000,25400951.0000,1130.0000,1130.0000,196.1800,64.3000,62.3300,56.4000,45038860.0000
207,South America,68809418.0000,1354187.0000,159838.7200,3145.6670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,436816679.0000

In [310]:
# Check whether the columns were removed
print(f"df_continent shape after removing columns: {df_continents_cleaned.shape}")
print(f"Removed {df_continents_romved_columns.shape[1] - df_continents_cleaned.shape[1]} columns from the dataframe.")

df_continent shape after removing columns: (7, 16)
Removed 4 columns from the dataframe.

In [311]:
# Check for duplicates in the DataFrame
df_continents_cleaned.duplicated().sum()

0

We still have some rows with missing values in the df_continents_cleaned DataFrame, so we will impute them to ensure that our analysis is accurate and meaningful. This step is important because missing values can lead to biased results or errors in our models.

Since it is a small dataframe, we can't delete the row with missing values(NaN), since we will lose a lot of data. We choose to replace the missing values, even though it can have a high risk of giving wrong information and have a big impact. 

The first four we replaced using realistic data.
But since it took too much time, weâ€™ll use the median to fill the remaining NaN values.

In [318]:
# method for replacing cell with a value
def replace_cell(df, row_filter, column, value):
    df.loc[row_filter, column] = value

# replace NaN for total_vaccinations for Africa. 1.084.500.000 is from Africa CDC, which is offical and reliable.
replace_cell(df_continents_cleaned, df_continents_cleaned['location'] == 'Africa', 'total_vaccinations', 1084500000)

# replace NaN for total_vaccinations for South America. 970.800.000 is from WTO-IMF COVID-19 Vaccine Trade Tracker, which is offical and reliable.
replace_cell(df_continents_cleaned, df_continents_cleaned['location'] == 'South America', 'total_vaccinations', 970800000)

# replace NaN for people_vaccinated for Africa. 725.000.000 is from Africa CDC, which is offical and reliable
replace_cell(df_continents_cleaned, df_continents_cleaned['location'] == 'Africa', 'people_vaccinated', 725000000)

# replace NaN for people_vaccinated for South America. 351.310.000 is from Our World in Data which is offical and reliable used by WHO.
replace_cell(df_continents_cleaned, df_continents_cleaned['location'] == 'South America', 'people_vaccinated', 351310000)

# method for replacing cell with median 
def fill_na_with_median(df, column_name):
    median_value = df[column_name].median()
    print(f"Median of '{column_name}': {median_value:.2f}")
    df[column_name].fillna(median_value, inplace=True)


fill_na_with_median(df_continents_cleaned, 'people_fully_vaccinated')
fill_na_with_median(df_continents_cleaned, 'total_boosters')
fill_na_with_median(df_continents_cleaned, 'new_vaccinations')
fill_na_with_median(df_continents_cleaned, 'new_vaccinations_smoothed')
fill_na_with_median(df_continents_cleaned, 'total_vaccinations_per_hundred')
fill_na_with_median(df_continents_cleaned, 'people_vaccinated_per_hundred')
fill_na_with_median(df_continents_cleaned, 'people_fully_vaccinated_per_hundred')
fill_na_with_median(df_continents_cleaned, 'total_boosters_per_hundred')
df_continents_cleaned

Median of 'people_fully_vaccinated': 394493922.00
Median of 'total_boosters': 282438789.00
Median of 'new_vaccinations': 258.00
Median of 'new_vaccinations_smoothed': 193.00
Median of 'total_vaccinations_per_hundred': 192.99
Median of 'people_vaccinated_per_hundred': 75.11
Median of 'people_fully_vaccinated_per_hundred': 66.29
Median of 'total_boosters_per_hundred': 49.02

C:\Users\Bruger\AppData\Local\Temp\ipykernel_33084\3133756775.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].fillna(median_value, inplace=True)

,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population
1,Africa,13145380.0000,259117.0000,9088.8770,179.1570,1084500000.0000,725000000.0000,394493922.0000,282438789.0000,258.0000,193.0000,192.9900,75.1100,66.2900,49.0200,1426736614.0000
12,Asia,301499099.0000,1637249.0000,63948.2000,347.2620,9104304615.0000,3689438947.0000,3462095463.0000,1815176944.0000,258.0000,193.0000,192.8300,78.1400,73.3300,38.4500,4721383370.0000
70,Europe,252916868.0000,2102483.0000,337990.3400,2809.6940,1399334208.0000,523814328.0000,493751304.0000,365099941.0000,64.0000,17.0000,187.8800,70.3300,66.2900,49.0200,744807803.0000
71,European Union (27),185822587.0000,1262988.0000,413754.2200,2812.1800,951113290.0000,338119562.0000,327967426.0000,282438789.0000,64.0000,17.0000,211.2900,75.1100,72.8600,62.7400,450146793.0000
161,North America,124492666.0000,1671178.0000,205992.1900,2765.2200,1158547416.0000,458563506.0000,394493922.0000,256264817.0000,442.0000,442.0000,192.9900,76.3900,65.7100,42.6900,600323657.0000
166,Oceania,15003352.0000,32918.0000,333039.8000,730.7040,88358812.0000,28960501.0000,28072902.0000,25400951.0000,1130.0000,1130.0000,196.1800,64.3000,62.3300,56.4000,45038860.0000
207,South America,68809418.0000,1354187.0000,159838.7200,3145.6670,970800000.0000,351310000.0000,394493922.0000,282438789.0000,258.0000,193.0000,192.9900,75.1100,66.2900,49.0200,436816679.0000

#### Isolating the remaining rows in the `df_covid` dataframe

We are isolating the remaining rows in the df_covid DataFrame to ensure it contains only country-level data. This allows us to clean the dataset and retain only the features that are most relevant for our analysis.

In [ ]:
# Since we seperated the OWID continent fields into it's own dataframe earlier, we no have to remove them again for the df_covid dataframe.
rows_to_remove = ["OWID_AFR", "OWID_ASI", "OWID_EUR", "OWID_EUN", "OWID_NAM", "OWID_OCE", "OWID_SAM"]
df_covid_removed_rows = df_covid[~df_covid['iso_code'].isin(rows_to_remove)]
df_covid_removed_rows

In [ ]:
# Check whether the rows were removed
print(f"COVID dataframe shape after removing columns: {df_covid_removed_rows.shape}")
print(f"Removed {df_covid.shape[0] - df_covid_removed_rows.shape[0]} columns from the dataframe.")

The columns such as `iso_code`, `total_vaccinations`, `population_density`, `aged_70_older`, `female_smokers` and others either contain no values or have a high number of missing entries. Since our analysis focuses on deaths and infections in relation to population, these columns are not essential. Therefore, we will remove them from the `df_covid_removed_rows` DataFrame to simplify the dataset and concentrate on the most relevant features.

In [ ]:
# Remove columns there are irrelavnt from df_covid_cleaned
df_covid_cleaned = df_covid_removed_rows.drop([
    "iso_code","total_vaccinations", "people_vaccinated", "people_fully_vaccinated",
    "total_boosters", "new_vaccinations", "new_vaccinations_smoothed",
    "total_vaccinations_per_hundred", "people_vaccinated_per_hundred",
    "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred",
    "new_vaccinations_smoothed_per_million", "new_people_vaccinated_smoothed",
    "new_people_vaccinated_smoothed_per_hundred", "population_density", "median_age", 
    "aged_65_older", "aged_70_older", "cardiovasc_death_rate", "diabetes_prevalence", 
    "female_smokers", "male_smokers"], axis=1)
df_covid_cleaned

In [ ]:
# Check whether the columns were removed
print(f"COVID dataframe shape after removing columns: {df_covid_cleaned.shape}")
print(f"Removed {df_covid_removed_rows.shape[1] - df_covid_cleaned.shape[1]} columns from the dataframe.")

In [ ]:
# Check for duplicates in the DataFrame
df_covid_cleaned.duplicated().sum()

We still have some rows with missing values in the `df_covid_cleaned` DataFrame, so we will impute them with median to ensure that our analysis is accurate and meaningful. This step is important because missing values can lead to biased results or errors in our models.

In [ ]:
# Function to fill NaN values with the median of the specified column
def fill_na_with_median(df, column_name):
    median_value = df[column_name].median()
    print(f"Median of {column_name}: {median_value:.2f}")
    df[column_name].fillna(median_value, inplace=True)

# Fill NaN values with the median for the columns; total_cases, total_deaths, total_cases_per_million, total_deaths_per_million and life_expectancy
fill_na_with_median(df_covid_cleaned, "total_cases")
fill_na_with_median(df_covid_cleaned, "total_deaths")
fill_na_with_median(df_covid_cleaned, "total_cases_per_million")
fill_na_with_median(df_covid_cleaned, "total_deaths_per_million")
fill_na_with_median(df_covid_cleaned, "life_expectancy")

### Explore the new cleaned dataframes

##### Explore df_continents_cleaned dataset

In [ ]:
# Check the shape of the DataFrame (rows, columns)
df_continents_cleaned.shape

In [ ]:
# Gives an overview of the DataFrame
df_continents_cleaned.info()

In [ ]:
# List the columns in the DataFrame
list(df_continents_cleaned)

In [ ]:
# Gives summary statistics for all numerical columns in the dataset
df_continents_cleaned.describe()

##### Explore df_covid_cleaned dataset

In [ ]:
# Check the shape of the DataFrame (rows, columns)
df_covid_cleaned.shape

In [ ]:
# Gives an overview of the DataFrame
df_covid_cleaned.info()

In [ ]:
# Display a random sample of 10 rows from the DataFrame
df_covid_cleaned.sample(10)

In [ ]:
# List the columns in the DataFrame
list(df_covid_cleaned)

In [ ]:
# Gives summary statistics for all numerical columns in the dataset
df_covid_cleaned.describe()

Now that we explored the new cleaned dataframe a bit, we can see that the `df_covid_cleaned` DataFrame contains a more manageable number of columns and rows vs the original dataframe. The columns we have retained are relevant for our analysis, and we have removed unnecessary or redundant features.

##### Check for outliers in the df_covid_cleaned

The next step in exploring the data is checking for outlier values that are unusually high or low compared to the rest of the data.

We use the IQR (Interquartile Range) method, which is a common way to detect outliers:

-  First, we calculate the first quartile (Q1) and third quartile (Q3) for each selected column.
- The IQR is the difference between Q3 and Q1.
- Any value that falls below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR is considered an outlier.

We apply this method to four important features in both datasets: total_cases, total_deaths, life_expectancy and population. This helps us find any unusual data points that could affect the results of our analysis.

In [ ]:
# Check for outliers in covid dataset using IQR method
print("\n..Checking for outliers in the covid dataframe:")

# Loop through selected columns
for column in ['total_cases', 'life_expectancy', 'population']:
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = df_covid_cleaned[column].quantile(0.25)
    Q3 = df_covid_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1  # Interquartile Range

    # Define the lower and upper bounds for detecting outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Find rows where the value is outside the normal range
    outliers = df_covid_cleaned[
        (df_covid_cleaned[column] < lower_bound) | 
        (df_covid_cleaned[column] > upper_bound)
    ]

    # Print the number of outliers found for the column
    print(f"  {column}: {len(outliers)} outliers detected")

**Conclusion of outliers**: The dataset contains outliers across several features â€” particularly in total_cases (39 outliers) and population (25 outliers).

These outliers are likely not errors but reflect extreme yet valid data points related to the real impact of COVID-19 in certain countries. For this reason, weâ€™ve chosen to keep them. Including these values could provide valuable insights into the factors that influenced high case and death counts. Removing them might hide important patterns in the data.

##### Checking for Normal Distribution for the df_covid_cleaned
Before applying statistical methods, it is important to understand how the data is distributed. Many techniques â€” such as t-tests, ANOVA, and linear regression â€” assume that the data follows a normal distribution. If this assumption is not met, the results may not be reliable.

To check for normality, we define a custom function called check_normality. This function runs through each numeric column (excluding total_deaths) and performs several checks:

**Skewness** measures how symmetric the data is:

- A positive skew means the distribution has a long tail on the right.
- A negative skew means the tail is on the left.

General interpretation:

- |skew| < 0.5 â†’ roughly symmetric
- 0.5 < |skew| < 1 â†’ moderately skewed
- |skew| > 1 â†’ highly skewed

**Kurtosis** measures how sharp or flat the peak is, and how heavy the tails are compared to a normal curve:

- Kurtosis > 3 â†’ sharper peak, more outliers
- Kurtosis < 3 â†’ flatter peak, fewer outliers
- In pandas, the `kurt()` function returns **excess kurtosis**, so a value of 0 indicates a normal distribution.

The function also applies two statistical tests for normality:

- Dâ€™Agostinoâ€™s K-squared test
- Jarque-Bera test

Both tests return a p-value. If the p-value is greater than 0.05, the data is considered likely to be normally distributed. If the p-value is below 0.05, the data likely deviates from a normal distribution.

Based on these results, each feature is classified as:

- Yes â€“ likely normal (both p-values > 0.05 and skewness < 1)
- Partial â€“ somewhat normal (Dâ€™Agostino p > 0.01 and skewness < 2)
- No â€“ not normal (does not meet the above criteria)

The function returns a summary table showing each featureâ€™s skewness, kurtosis, p-values, and classification. This step is an important part of exploratory data analysis and helps us decide whether we need to transform any variables or choose alternative statistical methods.

In [326]:
print("\n..Test normality in the covid dataframe:")

# Function to test normality of numeric columns
def check_normality(df):
    """
    Tests whether numeric columns follow a normal distribution.
    Uses Dâ€™Agostino and Jarque-Bera tests. 
    """
    num_cols = [col for col in df.select_dtypes(include=['float64', 'int64']).columns 
                if col != 'total_deaths']
    
    rows = []

    for col in num_cols:
        data = df[col]
        skewness = data.skew()
        kurtosis = data.kurt()
        dagostino = stats.normaltest(data)
        jb = stats.jarque_bera(data)

        normal = "No"
        if dagostino.pvalue > 0.05 and jb.pvalue > 0.05 and abs(skewness) < 1:
            normal = "Yes"
        elif dagostino.pvalue > 0.01 and abs(skewness) < 2:
            normal = "Partial"

        rows.append({
            'Column': col,
            'Skewness': round(skewness, 3),
            'Kurtosis': round(kurtosis, 3),
            "D'Agostino p-value": f"{dagostino.pvalue:.2e}",
            "Jarque-Bera p-value": f"{jb.pvalue:.2e}",
            'Normally Distributed?': normal
        })

    return pd.DataFrame(rows)

# Run normality checks on all numeric columns
check_normality(df_covid_cleaned)

..Test normality in the covid dataframe:

,Column,Skewness,Kurtosis,D'Agostino p-value,Jarque-Bera p-value,Normally Distributed?
0,total_cases,6.3410,47.6130,nan,nan,No
1,total_cases_per_million,0.7960,-0.5510,nan,nan,No
2,total_deaths_per_million,1.2990,1.4400,nan,nan,No
3,population_density,10.2150,118.3170,nan,nan,No
4,median_age,0.1330,-1.2490,nan,nan,No
5,aged_65_older,0.8060,-0.6210,nan,nan,No
6,aged_70_older,0.9450,-0.2510,nan,nan,No
7,cardiovasc_death_rate,0.8270,0.5640,nan,nan,No
8,diabetes_prevalence,1.4540,2.8970,nan,nan,No
9,female_smokers,1.0330,0.1050,nan,nan,No
10,male_smokers,0.5210,0.2390,nan,nan,No
11,life_expectancy,-0.6940,-0.2180,nan,nan,No
12,population,9.1680,90.8160,2.67e-88,0.00e+00,No

##### Feature Selection
Feature selection and comparison were carried out during the data cleaning and exploratory process. In our analysis, we consider deaths as the dependent variable, while the remaining features are treated as independent variables that may help explain or influence the death toll.

##### Check for outliers in the cleaned dataset

# 2. Supervised machine learning: linear regression

In [ ]:
# visualise the features and the response using scatterplots
sns.pairplot(df_covid_cleaned, x_vars=['population', 'total_cases','population_density'], y_vars='total_deaths', height=5, aspect=0.8)

# 3. Supervised machine learning: classification

# 4. Unsupervised machine learning: clustering

# 5. Implementation of the models in a Streamlit application